.main-content {
  .words-list {
    @include flex(column);
    gap: 1.125rem;
    margin-left: calc(3.125rem * 2);
    padding-bottom: calc(100vh - 22rem);
    li {
      @include flex(row);
      gap: 1.125rem;
      .letter {
        text-transform: uppercase;
        color: $red;
        font-size: 11.25rem;
        width: 11.25rem;
        font-weight: 500;
      }
      .words-by-letter {
        @include flex(row);
        gap: 1.125rem;
      }
    }
  }
}
