.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 1;
  filter: blur(9px);
  transform: scale(1.1);
  &.visible {
    display: block;
  }
}

.modal {
  display: none;
  position: fixed;
  width: 80vw;
  height: 60dvh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 2rem;
  z-index: 1;
  &.open {
    display: block;
  }
}
