.sidebar {
  position: fixed;
  top: 50%;
  left: 3.125rem;
  transform: translateY(-50%);
  overflow-y: scroll;
  max-height: calc(100vh - 25rem);
  padding: 1.25rem;
  ul {
    @include flex(column);
    gap: 1rem;
  }
}

.sidebar-letter {
  &.active {
    opacity: 1;
    cursor: pointer;
  }
  &.disabled {
    opacity: 0.375;
    cursor: not-allowed;
  }

  .sidebar-char {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #00000000;

    transition:
      border-color 400ms ease-in-out,
      transform 400ms ease-in-out;
    &.selected {
      border: 2px solid;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      aspect-ratio: 1/1;
      border-color: $red;
      transform: translateY(0.1rem);
    }
  }
}
