* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  padding: 3.125rem;
}

.scroll-hidden {
  overflow: scroll;

  /* Firefox */
  scrollbar-width: none;

  /* Internet Explorer / vecchio Edge */
  -ms-overflow-style: none;
}

/* Chrome, Safari, Edge moderno */
.scroll-hidden::-webkit-scrollbar {
  display: none;
}
