.circle {
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid $light-red;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: #ffffff80;
  }
  &:active {
    background-color: #ffffff;
  }
  &.playing {
    background-color: #ffd1d1;
  }
  &.disabled {
    opacity: 0.35;
  }
}
