.btn {
  border-radius: 2rem;
  border: 3px $light-red solid;
  padding: 0.625rem 1.25rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  cursor: nwse-resize;
  @include flex(between);
  span {
    @include flex(center);
    &.icon-right {
      cursor: pointer;
    }

    &.active-filter {
      padding-top: 0.25rem;
    }
  }
  &.primary {
    gap: 1rem;
    background-color: transparent;
    font-weight: 500;
    letter-spacing: 0.03em;
    &:hover {
      background-color: #ffffff80;
    }
    &:active {
      background-color: #ffff;
    }
  }
}
