.btn {
  border-radius: 2rem;
  border: 3px $red solid;
  padding: 0.625rem 1.25rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-family: "Jost", sans-serif;
  @include flex(between);
  span {
    @include flex(center);
  }
  &.primary {
    gap: 1rem;
    background-color: transparent;
    font-weight: 600;
    letter-spacing: 0.03em;
  }
}
